<div class="grid-container" style="margin-top: 50px">
  <div class="grid-x grid-margin-x">
    <div class="cell initial-12">
      <h1>{{ node.title.value }}</h1>
    </div>
    <div class="cell medium-auto">
      <article class="listing-page" style="margin-top: 2.5rem">
	{{ content.field_curated_news }}
        <section class="clearfix full-wysiwyg">
          {{ content.body }}
        </section>
      </article>
    </div>
  </div>
</div>
