.differentiator {
  position: relative;

  &__text {
    text-align: center;
  }
  
  &__title {
    
    h3.h5 {
      @include margins-top(20, 20, 40);
      line-height: calc(21 / 16);
    }
    
    a {
      color: $ull-red;
      border-bottom: none;
      
      &:hover,
      &:focus {
        outline: none;
        color: $black;
        border-bottom: 1px solid $ull-red;
      }
    }
  }
  
  &__desc {
    @include small-text;
    
    p {
      @include margins-top(20, 20, 30);
    }
  }
  
  &__stat {
    margin-top: 30px;
    text-align: center;
    font-weight: 700;
    font-size: rem-calc(72);
    color: $ull-red;
    line-height: 1;
  }
  
  &__icon {
    margin-top: 27px;
    text-align: center;
    line-height: 1;
    svg {
      margin-bottom: -9px;
    }
  }
  
  &--with-photo {
    position: relative;
    background-color: #333;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 10px 20px 2px rgba(0,0,0,0.15);

    @include breakpoint(small down) {
      margin-top: 30px;
    }
    min-height: rem-calc(280);
    @include breakpoint(medium) {
      min-height: rem-calc(380);
    }    
    &:after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0));
    }
    .differentiator__text {
      position: relative;
      z-index: 3;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: flex-end;
      padding: 30px;
      .differentiator__title h3.h5 {
        margin-top: rem-calc(80);
        @include breakpoint(large) {
          margin-top: rem-calc(110);
        }
      }
      h3, 
      h3 a, 
      p {
        color: #fff;
      }
      h3 a {
        &:after {
          padding-left: .25em;
          content: '\f061';
          @include font-awesome;
          color: $white;
          position: relative;
          left: 0;
          transition: all 0.3s ease-out;
        }
        &:hover,
        &:focus {
          outline: none;
          color: $ull-red;
          border-bottom: none;
          &:after {
            left: 10px;
            color: $ull-red;
          }
          
        }
      }
    }
  }
}

/// program rating box - which sits with a differentiator on program detail pages

.program__quick-info {
  background-color: #fff;
  box-shadow: 0 10px 20px 2px rgba(0,0,0,0.15);
  padding: rem-calc(20 20 10);
  @include breakpoint(large) {
    padding: rem-calc(30 30 10);
  }
}
.program__rated {
  &--group {
    list-style: none;
    padding-left: 0;
    @media (min-width: 600px) and (max-width: 767px) {
      columns: 2;
    }
    @include breakpoint(large) {
      columns: 2;
    }
  }
  &--item {
    break-inside: avoid;
    @include paddings-bottom(10,10,20);
    display: flex;
    flex-direction: column-reverse;
    img {
      width: 80px;
      height: 21px;
    }
    div {
      @include small-text;
      padding-top: rem-calc(10);
    }
  }
}

.section--ratings {
  .section__content {
    @include margins-bottom(20,40,60);
  }
}