////
/// @group components
/// Styles for the image grid.
////

/// Imaage Grid Container
/// ---------------------
.image-grid {

  @include breakpoint(small) {

    .glide__slides {
      @include xy-grid;
      @include xy-gutters($grid-margin-gutters, margin, left right, true);
    }

    .glide__arrows {
      display: none;
    }
  }
}

/// Image Grid Item
/// ---------------
.image-grid-item {

  &__link {
    position: relative;
    display: table;
    margin: 0 auto;
    line-height: 1;

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      content: '';
      transition: background-color $primary-transition;
      background-color: rgba($link-color, 0);
    }

    &:hover,
    &:focus {

      &:before {
        background-color: rgba($link-color, .333);
      }
    }
  }

  &__expand {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: .5em;
    background-color: $white;
    font-size: rem-calc(20);
  }

  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem-calc(45);
    height: rem-calc(45);
    transform: translate(-50%, -50%);
  }

  // Slider only.
  @include breakpoint(tiny down) {
    padding: 0;

    &__toggle {
      display: none;
    }
  }

  // Shuffle only.
  @include breakpoint(small) {
    @include xy-cell-base;
    @include xy-cell(4);
    display: block;
    height: auto;
    padding-bottom: map-get($grid-column-gutter, medium);

    &__toggle {
      position: absolute;
      top: 0;
      right: 0;
      padding: .5em .5625em;
      text-align: center;
      color: $primary-color;
      background-color: $white;
      font-size: 1.25rem;

      &:before {
        @include font-awesome;
        content: fa-content($fa-var-expand-alt);
        font-weight: 300;
      }

      &:hover {
        background-color: $white;
      }
    }
  }
}
