<section class="section--wide-lined-title section--banded section--dusty section--gallery-image-video">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h2><span>{{ content.field_component_title }}</span></h2>
      </div>
      <div class="cell gallery__description">
        <span>{{ content.field_component_body }}</span>
      </div>
    </div>
    <div class="grid-x section__content">
      <div class="cell">
        <div class="gallery-image-video__slick">
          {{ content.field_gallery_items }}
        </div>
      </div>
    </div>    
</section>
