<section class="section--wide-lined-title section--banded section--dusty section--career-feature">
  <div class="grid-container">
    <div class="grid-x section__title">
      <div class="cell">
        <h2><span>{{ content.field_component_title }}</span></h2>
      </div>
    </div>

    {{ content.field_pcf_featured_alumni }}
    {# content.field_component_link #}

      <div class="cell small-12 medium-5  career-feature__outcomes-cell">
        <div class="career-feature__outcomes">
          <h3 class="h4">{{ content.field_pcf_outcomes_title }}</h3>
          <ul> 
          {{ content.field_pcf_outcomes }}
          </ul>
        </div>
      </div>  
  </div>
</section>
