{% import "@oho_base/includes/oho-macros.html.twig" as oho_macros %}
<section class="section----differentiators section--wide-lined-title section--banded section--white">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h2><span>{{ content.field_component_title }}</span></h2>
      </div>
    </div>
  {{ content.field_component_body }}
  <div class="row">
    <div class="grid-x grid-margin-x section__content oho-animate-sequence">
      {{ content.field_diff_section_diffs }}
    </div>
  </div>
  {{ oho_macros.link_field_link(content.field_component_link, 'btn') }}
  </div>
</section>
