<div class="gallery-image-video__slide">
  <a href="#gallery-one" data-fancybox="ditl-fancy">  
  <span class="show-for-sr">Click to exapnd this slide</span>
  <figure class="gallery-image-video__item " >
    {{ content.field_component_image }}
    <figcaption>{{ content.field_component_title }}</figcaption>
  </figure>     
  </a>
  <figure class="gallery-image-video__item--fancy" id="gallery-one">
    {{ content.field_component_image }}
    <figcaption>{{ content.field_component_title }}</figcaption>
  </figure>  
</div>
