{#
  /**
   * Template to display the news/story feature.
   *
   * This is the reusable component and includes links to templates for featured items and small items
   *
   */
#}
{%
  set news_story_feature_classes = [
    'section--news-story-feature', 
    'section--wide-lined-title',
    'section--banded',
    'section--dusty-light'
  ]|merge(classes|default([]))
%}
<section class="{{ news_story_feature_classes|join(' ') }}">
  {% if section_title %}
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <h2><span>Featured News/Story Area</span></h2>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="section__content">

    {{ content.field_ncf_featured_news }}
    
    <div class="grid-container oho-animate-sequence">
      <div class="grid-x">
        <div class="cell news-story__set">    
	{% if content.field_ncf_news[0] %}
          {% for key, item in content.field_ncf_news if key|first != '#' %}
            {{ item }}
          {% endfor %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="grid-container">
    <div class="grid-x section__all-link">
      <div class="cell">
        <a href="/news" class="link-underline">All News &amp; Stories</a>
      </div>
    </div>
  </div>  
</section>
