  <span class="flow__tab--content">
    {{ content.field_component_icon }}
    <span class="flow__tab--text">{{ content.field_ps_tab_title }}</span>
  </span>
  <span class="flow__tab--shape-wrap">
    <span class="flow__tab--shape"></span>
  </span>
