<section class="section--image-video-gallery section--wide-lined-title section--banded section--dusty">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h2><span>{{ content.field_component_title }} Testing with split branch - EJS</span></h2>
      </div>
    </div><!-- /.grid-x -->
  </div><!-- /.grid-container -->
  <div class="section__content">
    <section class="section--image-video-grid">
    {{ content.field_instagram_gallery_items }}
    </section>
  </div>
  <div class="grid-container">
    <div class="grid-x section__all-link">
      <div class="cell">
        {{ content.field_component_link }}
      </div>
    </div><!-- /.grid-x -->
  </div><!-- /.grid-container -->
</section>

