<section class="section--wide-lined-title section--banded section--white section--program__requirements">
  <div class="grid-container">  
    <div class="grid-x">
      <div class="cell">
        {% if content.field_component_title|render %}
          <h2><span>Program Requirements</span></h2>
        {% endif %}
      </div>
    </div>
    <div class="grid-x grid-padding-x section__content">
      <div class="cell small-12 medium-8">
        <section class="accordions">
          {{ content.field_accordions }}
        </section>
      </div>
    </div>
  </div>
</section>