<section class="section--banded section--white section--livewhale">
  <div class="grid-container">
     {#
      <div class="lwcw" data-options="id=52&format=html"></div>
      <script type="text/javascript" id="lw_lwcw" src="//louisiana-dev.lwcal.com/livewhale/theme/core/scripts/lwcw.js"></script>
      #}
    <div class="grid-x grid-padding-x">
      <div class="cell small-12 large-4">
        <h2> {{ content.field_component_title }} </h2>
        <div class="section__all-link">
          <a href="https://calendar.louisiana.edu" class="link-underline">All Events</a>
        </div>
      </div>
      <div class="cell small-12 large-8">
      <div class="livewhale--event-set">
        {{ content.field_component_embed }}
      </div>
      </div>
      </div>
      <div class="cell small-12 section__all-link all-link--destination">
      
      </div>
    </div><!-- /.grid-x -->
  </div><!-- /.grid-container -->
</section>
      
