{#
  /**
   * Template to display an accordion dropdown.
   *
   * Blocks:
   *  - icon
   *
   * Variables:
   *  - title (string): Accordion label. Defaults to 'Accordion'.
   *  - content (string): Accordion content. Defaults to full-wysiwyg--short.
   *  - classes (array): Optional classes to add to the accordion wrapper.
   */
#}
{%
  set accordion_classes = [
    'accordion'
  ]|merge(classes|default([]))
%}

{% set accordion_classes = breakpoint ? accordion_classes|merge(['accordion--mobile']) : accordion_classes %}

{% set title = title|default('Accordion') %}

{% if content is not defined %}
  {% set content %}
    {% include 'content/basic-html.html.twig' %}
  {% endset %}
{% endif %}

<div class="{{ accordion_classes|join(' ') }}" data-accordion-open-text="Click to Open" data-accordion-close-text="Click to Close"{% if breakpoint %} data-accordion-breakpoint="{{ breakpoint }}"{% endif %}>
  <button class="accordion__button btn">
    <span class="show-for-sr"></span>
    <span class="accordion__button-text">{{ title }}</span>
    {% block icon %}
      <svg class="accordion__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
        <path class="accordion__icon-path accordion__icon-path--horizontal" d="M27.5 17.4h-25C1.2 17.4.1 16.3.1 15s1.1-2.4 2.4-2.4h25c1.3 0 2.4 1.1 2.4 2.4s-1.1 2.4-2.4 2.4z"/>
        <path class="accordion__icon-path accordion__icon-path--vertical" d="M14.5 29.9c-1.3 0-2.4-1.1-2.4-2.4v-25c0-1.3 1.1-2.4 2.4-2.4s2.4 1.1 2.4 2.4v25c0 1.3-1.1 2.4-2.4 2.4z"/>
      </svg>
    {% endblock %}
  </button>
  <div class="accordion__content">
    {{ content }}
  </div>
</div>
