<h2>{{ node.title.value }}</h2>

{% if content.field_app_type_set_app_types[0] %}
  <ul class="other-audience__callouts">
    {% for key, item in content.field_app_type_set_app_types if key|first != '#' %}
      {{ item }}
    {% endfor %}
  </ul>
{% endif %}

  {# content.field_process_steps.0['#paragraph'].field_component_icon.0.value #}