<button type="button" class="culture-component__button">         
  <div class="culture-component-button__image">{{ content.field_cf_image }}</div>
  <div class="culture-component-button__text"><span>{{ node.title.value }}</span></div>
</button>