////
/// @group global
/// Styles relating primarily to type.
////

/// Headings
/// --------
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5, 
h6, .h6 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  color: $text-color;
  font-family: $serif;
  font-weight: 700;
  
  @include line-heights(24, 36, 36);
  &:not(:first-child) {
    @include margins-top(20, 20, 40);
  }
}

h1,
.h1 {
  @include font-sizes(26, 32, 38);
  font-family: $sans-serif;
}
.basic-page h1 {
  @include margins-top(10,0,0);
}
h2,
.h2 {
  @include font-sizes(22, 26, 32);
  @include line-heights(29, 34, 42);
  font-family: $sans-serif;
}

.intro-text + section h2:first-child {
  @include margins-top(20, 20, 40);
}

h3,
.h3 {
  @include font-sizes(19, 22, 26);
  @include line-heights(25, 29, 34);
}

h4,
.h4 {
  @include font-sizes(17, 19, 22);
  @include line-heights(22, 25, 29);
}

h5,
.h5 {
  @include font-sizes(16, 17, 19);
  @include line-heights(21, 22, 25);
}

h6,
.h6 {
  @include font-sizes(15, 16, 17);
  @include line-heights(20, 21, 22);
}

/// Text Elements
/// -------------
.main-content {
  font-weight: 300;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: $link-color;
  border-bottom: 1px solid $ull-red;
    
  &:hover {
    color: $ull-red;
  }    
  &.btn,
  &.link-arrow, 
  &.link-underline,
  &.link-box {
    border-bottom: none;
  }
}

em {
  font-style: italic;
}

b,
strong {
  font-weight: 700;
}

blockquote {
  position: relative;
  padding: rem-calc(0 0 0 20);
  @media #{$large-up} {
    padding: rem-calc(0 100 0 40);
  }
  font-family: $serif;
  @include font-sizes(18, 18, 28);
  @include line-heights(27, 27, 42);
  border-left: 5px solid $ull-red;
  margin: 0;
  &:not(:last-child) {
    @include margins-bottom(20, 20, 40);
  }
}

ul,
ol {
  margin: 0;
  padding: 0 0 0 1.25em;
}

li {
  margin: 0;
  padding: 0;
}

/// Alignment Classes
/// -----------------
.text-left {
  text-align: left !important; // stylelint-disable-line
}

.text-right {
  text-align: right !important; // stylelint-disable-line
}

.text-center {
  text-align: center !important; // stylelint-disable-line
}

.text-justify {
  text-align: justify !important; // stylelint-disable-line
}

/// Margins
/// -------

p,
ul,
ol,
.btn {
  margin-bottom: 0;

  &:not(:first-child) {
    @include margins-top(10, 10, 20);
  }
}

.mobile-table,
blockquote {
  margin-bottom: 0;

  &:not(:first-child) {
    @include margins-top(20, 20, 40);
  }
}

.full-wysiwyg,
.wysiwyg,
.accordions {

  a {
    color: $ull-red;
    &.btn {
      color: $white;
    }
    &:hover,
    &:focus {
      color: $black;
    }
  }
  iframe {
    @include margins-top(20, 20, 40);
  }

  ul,
  ol {
    padding-left: 0;
    
    li:not(:first-child) {
      @include margins-top(10, 10, 20);
    }
  }
  ul {
    list-style: none;
  }
  ul > li {
    position: relative;
    padding-left: rem-calc(45);
    
    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0.75em;
      left: 0;
      display: block;
      width: 8px;
      height: 8px;
      background-color: $ull-red;
    }
  }
  ol {
    list-style: none;
    counter-reset: ull-counter;
  } 
  ol >  li {
    position: relative;
    padding-left: rem-calc(45);
    counter-increment: ull-counter;
    
    &:before {
    content: counter(ull-counter) ".";
    font-family: $sans-serif;
    font-weight: 700;
    color: $ull-red;
    position: absolute;
    left: 0;
    top: 0;      
    }    
  }
}
