////
/// @group D8
/// Custom global theme styles for Drupal 8.
////

// Drupal uses .element-invisible instead of .show-for-sr internally.
.element-invisible {
  @include show-for-sr;
}

// Embedded items, like videos, need 100% width if not aligned.
.embedded-entity:not([class^='align-']) {
  width: 100%;
}
.video-embed-field-responsive-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  
  iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }
}