// Node Edit Links
.admin-tabs {
  font-family: $sans-serif;
  border-bottom: solid 1px #ccc;
  margin-bottom: 20px;

  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    @include grid-row();
    padding: 0 20px;
  }
  li {
    display: inline-block;
    list-style: none;
  }
  li > a  {
    background: #999;
    margin: 0;
    color: #fff;
    display: block;
    padding: 5px 20px;
    transition: all .2s ease-out, transform .2s ease-out;
    text-decoration: none;
    border-radius: 3px 3px 0px 0px;
    transform: translate(0, 5px);

    &.active {
      background: #222;
      transform: translate(0, 0);
      color: #fff;
    }

    &:hover {
      background: #343434;
      transform: translate(0, 0);
    }
  }
}
// Workbench
div.workbench-info-block {
  font-family: $sans-serif;
  margin: 20px 0;
}

#user-login, .profile {
  button {
    @include btn;
    border: none;
  }
}
