<nav class="sidebar-menu sidebar-menu--padded-levels" data-menu-open-text="Open the %s submenu" data-menu-close-text="Close the %s submenu">
  <button class="sidebar-menu__toggle" data-button-open-text="Click to expose navigation links on mobile" data-button-close-text="Click to hide navigation links on mobile" data-button-open-class="sidebar-menu-open" data-button-disable-at="769">
    More In This Section
    <span class="show-for-sr">Click to expose navigation links on mobile</span>
  </button>
  <div class="sidebar-menu__container">
    {% if nav_title %}
      <h3>{{ nav_title }}</h3>
    {% endif %}
    {{ nav }}
  </div>
</nav>
